*.pyc
*.pyo
/*.patch
#Exclude everything inside build
/build/*
#Except conf
!/build/conf
#Exclude everything inside conf
/build/conf/*
#Except local.conf
!/build/conf/local.conf
pyshtables.py
pstage/
scripts/oe-git-proxy-socks
sources/
meta-game-emulators
meta-ftest
meta-ftest-*
*.swp
*.orig
*.rej
*~
documentation/user-manual/user-manual.html
documentation/user-manual/user-manual.pdf
documentation/user-manual/user-manual.tgz
pull-*/
